/* Element Plus Table Override - Sticky Header */

.data-table-wrapper .el-table {
  overflow: visible !important;
}

.data-table-wrapper .el-table__inner-wrapper {
  overflow: visible !important;
}

.data-table-wrapper .el-table__header-wrapper {
  position: sticky;
  top: 0;
  z-index: 2;
}

.data-table-wrapper .el-table th.el-table__cell {
  font-weight: 600;
}

.data-table-wrapper .el-select .el-input__wrapper {
  min-height: 32px;
}
